# Media Files / Videos
*.mp4
*.avi
*.mov

# Task & Log files
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# C extensions
*.pyd

# Pytest / Cache
.pytest_cache/

# Virtual environments
.venv/
env/
venv/
ENV/

# Output annotated videos
output_annotated.mp4
